%p= @restaurant.name
%p= @restaurant.description

%h5
  %h2 Reviews
  - if @restaurant.reviews.any?
    %ul
      - @restaurant.reviews.each do |review|
        %li
          %h2= review.thoughts
          %p= star_rating(review.rating)
          %strong #{review.rating}/5
          = link_to "Delete review", restaurant_review_path(@restaurant,review), method: :delete
  - else
  %p No reviews

= link_to "Return to restaurants", restaurants_path
